# Exploring eBay Car Sales Data

## Table of Contents

1. [**Introduction**](#1)
    - Project Description
    - Data Description
2. [**Acquiring and Loading Data**](#2)
	- Importing Libraries and Notebook Setup
    - Loading Data
    - Basic Data Exploration
    - Areas to Fix
3. [**Data Proprocessing**](#3)
4. [**Exploratory Data Analysis**](#4)
5. [**Conclusion**](#5)
    - Insights
    - Suggestions
    - Possible Next Steps
6. [**Epilogue**](#6) 
    - References
    - Versioning

---

# 1

## Introduction

![eBay Kleinanzeighen]("/Users/aleciaduncan/Documents/GitHub/Data-Analysis/eBay_Klein/ebay_ger.png")
### Project Description

**Goal/Purpose:** 

What is this project about? What is the the goal/purpose of this project? Why is it important for someone to read this notebook?
This project aims to look at information about used car listings fromn a classifieds listing on the German eBay website. 
<p>&nbsp;</p>

**Questions to be Answered:**

- What brand of cars are most frequently sold on eBay?
- What's the average price of cars sold on eBay?
- What is the average amount of time car listings are up on eBay?

<p>&nbsp;</p>

**Assumptions/Methodology/Scope:** 

This data is originally in German, therefore it may be necessary to translate some values to English for clarity. 

<p>&nbsp;</p>

### Data Description

**Content:** 

This dataset describes used car listings from eBay Kleinanzeigen (a classifieds section of the German eBay website.) 

<p>&nbsp;</p>

**Description of Attributes:** 

Here you can describe what each column represents.
| Column  | Description |
| :------ | :---------- |
| dateCrawled | When this ad was first crawled. All field-values are taken from this date. |
| name | Name of the car.|
| seller | Whether the seller is private or a dealer.|
| offerType | The type of listing sell the car. |
| abtest | Whether the listing is included in an A/B test. |
| vehicleType | The vehicle type. |
| yearOfRegistration | The year in which the car was first registered. |
| gearbox | The transmission type. |
| powerPS | The power of the car in PS. |
| model | The car model name. |
| odometer | How many kilometers the car has driven. |
| monthOfRegistration | The month in which the car was first registered. |
| fuelType | What type of fuel the car uses.|
| brand | The brand of the car. |
| notRepairedDamage | If the car has any damage which is not yet repaired.|
| dateCreated | The date on whihc the eBay listing was created.|
| nrOfPictures | The number of pictures in the ad.|
| postalCode | The postal code for the location of the vehicle.|
| lastSeenOnline | When the crawler last saw this ad online.|


<p>&nbsp;</p>

**Acknowledgements:** 
This dataset was originally scraped and uploaded to Kaggle by user [ogresleka](https://www.kaggle.com/orgesleka). The data is no longer available on Kaggle but can be found [here](https://data.world/data-society/used-cars-data). For purposes of this project, the dataset has been reduced by DataQuest to a sampling of 50,000 data points. The dataset originally uploaded to Kaggle was quite clean, so this dataset was also "dirtied" to help more closely resemble a scraped dataset.

---

# 2

## Acquiring and Loading Data
### Importing Libraries and Notebook Setup

In [487]:
# Ignore warnings if needed
import warnings
warnings.filterwarnings('ignore')

# Data manipulation
import datetime
import numpy as np
import pandas as pd

# Pandas settings
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 60
pd.options.display.float_format = '{:,.2f}'.format

### Loading Data

In [445]:
# Load DataFrame
file = 'autos.csv'
autos = pd.read_csv(file, encoding = "Latin-1")

### Basic Data Exploration

#### Number of Rows and Columns

In [446]:
# Show rows and columns count
print(f"Rows count: {autos.shape[0]}\nColumns count: {autos.shape[1]}")

Rows count: 50000
Columns count: 20

#### Display First and Last Rows

In [447]:
# Look at first 5 rows
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Panorama,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepflegt.mit_Klim...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [448]:
# Look at last 5 rows
autos.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+Reifen_neu_!!,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

#### Check Data Types

In [449]:
# Show data types
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

- all column names use a modified CamelCase, or a mixedCase, naming convention and will be changed to snake_case.
- a few column names can be renamed in a way that is just as informative but more concise.
- `yearOfRegistration`, `powerPS`, `monthOfRegistration`, `nrOfPictures`, and `postalCode` are **integers**.
- the other 15 columns are **strings**.
- `vehicleType`, `fuelType`, `model`, `gearbox` and `vehicleType` all contain null values and will need additional exploration.

#### Check Missing Data

In [450]:
# Print percentage of missing values
missing_percent = autos.isna().mean().sort_values(ascending=False)
print('---- Percentage of Missing Values (%) -----')
if missing_percent.sum():
    print(missing_percent[missing_percent > 0] * 100)
else:
    print(None)

---- Percentage of Missing Values (%) -----
notRepairedDamage   19.658
vehicleType         10.190
fuelType             8.964
model                5.516
gearbox              5.360
dtype: float64

#### Check for Duplicate Rows

In [451]:
# Show number of duplicated rows
print(f"No. of entirely duplicated rows: {autos.duplicated().sum()}")

# Show duplicated rows
autos[autos.duplicated()]

No. of entirely duplicated rows: 0

Empty DataFrame
Columns: [dateCrawled, name, seller, offerType, price, abtest, vehicleType, yearOfRegistration, gearbox, powerPS, model, odometer, monthOfRegistration, fuelType, brand, notRepairedDamage, dateCreated, nrOfPictures, postalCode, lastSeen]
Index: []

#### Check Uniqueness of Data

In [452]:
# Print the number of unique values
num_unique = autos.nunique().sort_values()
print('---- Number of Unique Values -----')
print(num_unique)

---- Number of Unique Values -----
nrOfPictures               1
notRepairedDamage          2
abtest                     2
gearbox                    2
seller                     2
offerType                  2
fuelType                   7
vehicleType                8
odometer                  13
monthOfRegistration       13
brand                     40
dateCreated               76
yearOfRegistration        97
model                    245
powerPS                  448
price                   2357
postalCode              7014
name                   38754
lastSeen               39481
dateCrawled            48213
dtype: int64

#### Check Data Range

In [453]:
# Print summary statistics
autos.describe(include='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,"50,000.000",47320,"50,000.000",47242,50000,"50,000.000",45518,50000,40171,50000,"50,000.000","50,000.000",50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,005.073",NaN,116.356,NaN,NaN,5.723,NaN,NaN,NaN,NaN,0.000,"50,813.627",NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.713,NaN,209.217,NaN,NaN,3.712,NaN,NaN,NaN,NaN,0.000,"25,779.748",NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,000.000",NaN,0.000,NaN,NaN,0.000,NaN,NaN,NaN,NaN,0.000,"1,067.000",NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,999.000",NaN,70.000,NaN,NaN,3.000,NaN,NaN,NaN,NaN,0.000,"30,451.000",NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,003.000",NaN,105.000,NaN,NaN,6.000,NaN,NaN,NaN,NaN,0.000,"49,577.000",NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,008.000",NaN,150.000,NaN,NaN,9.000,NaN,NaN,NaN,NaN,0.000,"71,540.000",NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"9,999.000",NaN,"17,700.000",NaN,NaN,12.000,NaN,NaN,NaN,NaN,0.000,"99,998.000",NaN

### Areas to Fix
**Data Types**
- `odometer`, `price` columns need to be converted from strings to integers and floats respectively
- `dateCrawled`, `yearOfRegistration`, `monthOfRegistration`, and `last_seen` should all be converted to datetime datatypes
- `postalCode` is listed as an integer and calculations were made accordingly, because of the type of data a postal code is this may be better suited as a string datatype

**Missing Data**
- `unrepaired_damage` is missing 19.658% of it's data, need to check to see if missing values are indicative of $0 unrepaird damage or some other issue
- `vehicle_type` is missing 10.190% of it's data, these rows may need to be removed 
- `fuel_type` 8.964%
- `model` 5.516%
- `gearbox` 5.360%

**Duplicate Rows**
- no duplicated rows

**Uniqueness of Data**
- `numPictures` only has one unique value and can be dropped
- `seller` and `offer_type` columns only have 2 unique values, when looking at the frequency of the top value it can be seen that 49,999 of the 50,000 are the same. both of these columns are redundant and can be dropped, will confirm with a redundancy 
- `abtest`, `gearbox` and `notRepairedDamage` only have 2 unique values but each with significant amounts - additional exploration necessary


**Data Range**
- `yearOfRegistration` appears to have minimum and maximum values exceeding reasonable years for these listings
- `powerPS` has a minimum value of 0 and a maximum value of 17,700, but the values at the 25th and 75th percentile indicate the column as a whole trends far below the maximum - additional exploration necessary

---

# 3

## Data Preprocessing

### Rename Columns

In [454]:
# Rename columns
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_pictures', 'postal_code',
       'last_seen']
autos.columns = new_columns

In [455]:
# Verify columns are renamed
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

### Drop Redundant Columns

In [456]:
# Check the proportion of the most frequent value in each column
print('---- Frequency of the Mode (%) -----')
mode_dict = {col: (autos[col].value_counts().iat[0] / autos[col].size * 100) for col in autos.columns}
mode_series = pd.Series(mode_dict)
mode_series.sort_values(ascending=False)

---- Frequency of the Mode (%) -----

num_pictures         100.000
seller                99.998
offer_type            99.998
gearbox               73.986
unrepaired_damage     70.464
odometer              64.848
fuel_type             60.214
abtest                51.512
vehicle_type          25.718
brand                 21.374
powerPS               11.000
registration_month    10.150
model                  8.048
registration_year      6.708
ad_created             3.892
price                  2.842
postal_code            0.218
name                   0.156
last_seen              0.016
date_crawled           0.006
dtype: float64

In [457]:
# Show the value frequency of each column greater than the mode's threshold
threshold = 80          
for col in mode_series[mode_series > threshold].index:
    print(autos[col].value_counts(dropna=False))
    print()

privat        49999
gewerblich        1
Name: seller, dtype: int64

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

0    50000
Name: num_pictures, dtype: int64

In [458]:
# Drop columns 
cols_to_drop = ["seller", "offer_type", "num_pictures"]
autos.drop(columns=cols_to_drop, axis=1, inplace=True)

In [459]:
# Verify columns dropped
assert all(col not in autos.columns for col in cols_to_drop)

### Changing Data Types

In [460]:
# Convert columns to the right data types
autos["odometer"] = autos["odometer"].str.replace("[^0-9.]", "", regex = True).astype(int)
autos["price"] = autos["price"].str.replace("[^0-9.]", "", regex = True).astype(float)

# Update column name to better reflect data as converted
autos.rename(columns={"odometer" : "odometer_km"}, inplace = True)

### Handling Unreasonable Data Ranges

**Column: `odometer_km`**

In [461]:
autos["odometer_km"].nunique()

13

In [462]:
autos["odometer_km"].describe()

count    50,000.000
mean    125,732.700
std      40,042.212
min       5,000.000
25%     125,000.000
50%     150,000.000
75%     150,000.000
max     150,000.000
Name: odometer_km, dtype: float64

In [463]:
autos["odometer_km"].value_counts().sort_index(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

In [464]:
z_scores = {}
for mileage in autos["odometer_km"].unique():
    z_score = ((mileage - 125732.7) / 40042.212)
    if (z_score >= 3) | (z_score <= -3):
        z_scores[mileage] = z_score
print(z_scores)

{5000: -3.015135627372434}

In [465]:
#Drop all rows with an outlier value 
autos = autos[autos.odometer_km != 5000]

#Verify columns dropped equate to the expected amount of dropped columns
new_len = len(autos)
print(new_len, (50000 - new_len == 967))

49033 True

**Column: `price`**

In [466]:
autos["price"].nunique()

2323

In [467]:
autos["price"].describe()

count       49,033.000
mean         9,809.323
std        485,497.272
min              0.000
25%          1,150.000
50%          2,980.000
75%          7,200.000
max     99,999,999.000
Name: price, dtype: float64

In [468]:
autos["price"].value_counts().sort_index(ascending=True).head(10)

0.000     1291
1.000      135
2.000        1
3.000        1
5.000        2
10.000       5
11.000       2
12.000       1
13.000       1
14.000       1
Name: price, dtype: int64

In [469]:
autos["price"].value_counts().sort_index(ascending=False).head(15)

99,999,999.000    1
27,322,222.000    1
12,345,678.000    3
11,111,111.000    2
10,000,000.000    1
1,300,000.000     1
1,234,566.000     1
999,999.000       2
999,990.000       1
345,000.000       1
299,000.000       1
259,000.000       1
220,000.000       1
197,000.000       1
190,000.000       1
Name: price, dtype: int64

(Note: the top 9 values here represent the top 13 rows of prices and appear to include listings over $990,000. In a dataset of 50,000, these items appear to be outliers, skew the data, and are small enough that removing them will be insignificant for the purposes of this project.)

In [470]:
autos = autos[autos.price < 990000]
print(len(autos), ((49033 - len(autos)) == 13))

49020 True

In [471]:
autos["price"].describe()

count    49,020.000
mean      5,688.790
std       8,411.410
min           0.000
25%       1,150.000
50%       2,950.000
75%       7,200.000
max     345,000.000
Name: price, dtype: float64

In [472]:
# Calculate z-scores for values to determine outliers (z-score of +/- 3)
z_scores = {}

for price in autos["price"].unique():
    z_score = ((price - 5688.79)/8411.41)
    if (z_score >= 3) | (z_score <= -3):
        z_scores[price] = z_score

In [473]:
# Retrieve the price threshold for which values exceeded a z-score of 3
z_score_prices = z_scores.keys()
sorted_prices = sorted(z_score_prices)
threshold = sorted_prices[0]

print(threshold)

30933.0

In [474]:
#Drop all rows above the price threshold
autos = autos[autos.price < threshold]

#Verify rows were dropped
print(len(autos))

48306

**Column:** `registration_year`

In [475]:
autos["registration_year"].describe()

count   48,306.000
mean     2,004.697
std         99.963
min      1,910.000
25%      1,999.000
50%      2,003.000
75%      2,008.000
max      9,999.000
Name: registration_year, dtype: float64

In [476]:
autos = autos[autos["registration_year"] <= 2016]
print(len(autos))

46399

---

# 4

## Exploratory Data Analysis

Here is where your analysis begins. You can add different sections based on your project goals.

### Exploring `date_crawled`

In [477]:
autos_crawl_dates = autos["date_crawled"].str[:10]
autos_crawl_dates.value_counts(normalize=True, dropna=False).sort_index()

2016-03-05   0.025
2016-03-06   0.014
2016-03-07   0.036
2016-03-08   0.034
2016-03-09   0.033
2016-03-10   0.032
2016-03-11   0.032
2016-03-12   0.037
2016-03-13   0.016
2016-03-14   0.036
2016-03-15   0.034
2016-03-16   0.029
2016-03-17   0.032
2016-03-18   0.013
2016-03-19   0.035
2016-03-20   0.038
2016-03-21   0.037
2016-03-22   0.032
2016-03-23   0.032
2016-03-24   0.029
2016-03-25   0.032
2016-03-26   0.032
2016-03-27   0.031
2016-03-28   0.034
2016-03-29   0.034
2016-03-30   0.034
2016-03-31   0.032
2016-04-01   0.034
2016-04-02   0.035
2016-04-03   0.039
2016-04-04   0.037
2016-04-05   0.013
2016-04-06   0.003
2016-04-07   0.001
Name: date_crawled, dtype: float64

**Observations**
- Dates crawled range from 2016-03-05 to 2016-04-07
- The final two days of crawling yielded very few entries
- the vast majority of the dataset falls over the course of a month

### Exploring `ad_created`

In [478]:
autos_creation_dates = autos["ad_created"].str[:10]
sorted_creation_dates = autos_creation_dates.value_counts(dropna=False).sort_index()
sorted_creation_dates

2015-08-10       1
2015-09-09       1
2015-11-10       1
2015-12-05       1
2015-12-30       1
              ...
2016-04-03    1815
2016-04-04    1724
2016-04-05     541
2016-04-06     145
2016-04-07      61
Name: ad_created, Length: 73, dtype: int64

In [479]:
sorted_creation_dates[:20]

2015-08-10    1
2015-09-09    1
2015-11-10    1
2015-12-05    1
2015-12-30    1
2016-01-03    1
2016-01-07    1
2016-01-10    2
2016-01-13    1
2016-01-14    1
2016-01-16    1
2016-01-27    2
2016-02-01    1
2016-02-02    2
2016-02-05    2
2016-02-07    1
2016-02-08    1
2016-02-09    2
2016-02-11    1
2016-02-12    3
Name: ad_created, dtype: int64

**Observations**
- The ads were created between 2015-08-10 to 2016-04-07
- Only a small handful of entries from 2015 were still listed
- January 10 is when you start to see multiple listings created per day

### Exploring `last_seen`

In [480]:
autos_creation_dates = autos["last_seen"].str[:10]
sorted_last_seen_dates = autos_creation_dates.value_counts(normalize=True, dropna=False).sort_index()
sorted_last_seen_dates

2016-03-05   0.001
2016-03-06   0.004
2016-03-07   0.005
2016-03-08   0.008
2016-03-09   0.010
2016-03-10   0.011
2016-03-11   0.013
2016-03-12   0.024
2016-03-13   0.009
2016-03-14   0.013
2016-03-15   0.016
2016-03-16   0.016
2016-03-17   0.028
2016-03-18   0.007
2016-03-19   0.016
2016-03-20   0.021
2016-03-21   0.021
2016-03-22   0.021
2016-03-23   0.019
2016-03-24   0.020
2016-03-25   0.019
2016-03-26   0.017
2016-03-27   0.016
2016-03-28   0.021
2016-03-29   0.022
2016-03-30   0.025
2016-03-31   0.024
2016-04-01   0.024
2016-04-02   0.025
2016-04-03   0.026
2016-04-04   0.024
2016-04-05   0.124
2016-04-06   0.221
2016-04-07   0.130
Name: last_seen, dtype: float64

**Observations**
- Last seen dates match up with the dates_crawled
- No apparent outliers

### Exploring `registration_year`

In [481]:
autos["registration_year"].describe()

count   46,399.000
mean     2,002.788
std          6.921
min      1,910.000
25%      1,999.000
50%      2,003.000
75%      2,007.000
max      2,016.000
Name: registration_year, dtype: float64

**Observations**
- Registration years range from 1910-2016
- Mean of 2002 would indicate cars listed are on average 14 years old

### Exploring `price` by `brand`

In [482]:
brand_value_counts = autos["brand"].value_counts(normalize=True, dropna=False)
brand_value_counts

volkswagen       0.214
opel             0.109
bmw              0.109
mercedes_benz    0.095
audi             0.085
ford             0.071
renault          0.048
peugeot          0.030
fiat             0.026
seat             0.019
skoda            0.016
mazda            0.015
nissan           0.015
smart            0.014
citroen          0.014
toyota           0.013
hyundai          0.010
volvo            0.009
sonstige_autos   0.009
mini             0.009
mitsubishi       0.008
honda            0.008
kia              0.007
alfa_romeo       0.007
suzuki           0.006
chevrolet        0.006
chrysler         0.004
porsche          0.003
dacia            0.003
daihatsu         0.003
subaru           0.002
jeep             0.002
saab             0.002
land_rover       0.002
jaguar           0.002
daewoo           0.002
rover            0.001
trabant          0.001
lancia           0.001
lada             0.001
Name: brand, dtype: float64

In [483]:
brands = brand_value_counts[brand_value_counts > 0.005]
brands

volkswagen       0.214
opel             0.109
bmw              0.109
mercedes_benz    0.095
audi             0.085
ford             0.071
renault          0.048
peugeot          0.030
fiat             0.026
seat             0.019
skoda            0.016
mazda            0.015
nissan           0.015
smart            0.014
citroen          0.014
toyota           0.013
hyundai          0.010
volvo            0.009
sonstige_autos   0.009
mini             0.009
mitsubishi       0.008
honda            0.008
kia              0.007
alfa_romeo       0.007
suzuki           0.006
chevrolet        0.006
Name: brand, dtype: float64

In [484]:
final_brands = brands.keys()
price_by_brands = {}

for b in final_brands:
    brand_sales = autos[autos["brand"] == b] #Create a subset of rows identified as the brand
    mean_price = brand_sales["price"].mean()
    price_by_brands[b] = mean_price

brand_price_df = pd.DataFrame.from_dict(price_by_brands, orient='index', columns=["Avg Price"]) #Convert to dataframe for easy calculations and later data storage
print(brand_price_df)
brand_price_df.describe()

                Avg Price
volkswagen      5,048.652
opel            2,859.207
bmw             7,274.864
mercedes_benz   7,372.408
audi            7,801.694
ford            3,407.002
renault         2,318.854
peugeot         3,043.531
fiat            2,674.498
seat            4,265.253
skoda           6,270.519
mazda           3,890.487
nissan          4,606.934
smart           3,560.563
citroen         3,620.587
toyota          4,989.483
hyundai         5,281.729
volvo           4,780.823
sonstige_autos  7,416.785
mini           10,333.693
mitsubishi      3,159.745
honda           3,831.508
kia             5,817.460
alfa_romeo      3,866.719
suzuki          3,976.649
chevrolet       5,992.031

       Avg Price
count     26.000
mean   4,902.372
std    1,924.777
min    2,318.854
25%    3,575.569
50%    4,436.093
75%    5,948.388
max   10,333.693

**Observations**
- Top three brands by price: Mini, Audi and Sonstige Autos
- Prices tend to trend between $3500-$6000
- Average sale price of ~$5000
- Average sale price does not seem indicative of most frequent sales by brand

In [490]:
#Find the mean mileage by brand
mileage_by_brands = {}
for b in final_brands:
    brand_mileage = autos[autos["brand"] == b] #create a subset of rows identified as the brand
    mean_mileage = brand_mileage["odometer_km"].mean()
    mileage_by_brands[b] = mean_mileage

#Convert mileage to series and add to dataframe
mileage_series = pd.Series(mileage_by_brands)
brand_price_miles = brand_price_df.assign(Mileage_km = mileage_series)

print(brand_price_miles)

                Avg Price  Mileage_km
volkswagen       5,048.65  131,458.90
opel             2,859.21  131,987.20
bmw              7,274.86  136,477.21
mercedes_benz    7,372.41  134,340.10
audi             7,801.69  133,657.89
ford             3,407.00  126,648.85
renault          2,318.85  130,546.84
peugeot          3,043.53  128,354.70
fiat             2,674.50  119,693.71
seat             4,265.25  123,463.33
skoda            6,270.52  113,039.74
mazda            3,890.49  126,855.74
nissan           4,606.93  121,050.78
smart            3,560.56  100,309.20
citroen          3,620.59  121,001.52
toyota           4,989.48  117,313.56
hyundai          5,281.73  107,596.15
volvo            4,780.82  139,568.18
sonstige_autos   7,416.78  103,480.86
mini            10,333.69   90,829.21
mitsubishi       3,159.74  130,381.58
honda            3,831.51  125,339.67
kia              5,817.46  113,067.85
alfa_romeo       3,866.72  134,661.29
suzuki           3,976.65  110,913.98
chevrolet        5,992.03  105,371.09

In [491]:
#Print summary statistics
brand_price_miles.describe()

       Avg Price  Mileage_km
count      26.00       26.00
mean    4,902.37  121,438.81
std     1,924.78   12,603.37
min     2,318.85   90,829.21
25%     3,575.57  113,046.76
50%     4,436.09  124,401.50
75%     5,948.39  131,230.88
max    10,333.69  139,568.18

---

# 5

## Conclusion

### General Insights 
While exploring this data was interesting, the intent of this project was actually to practice basic skills. The biggest takeaways for me:
- It's going to be important to learn data visualization as numbers alone aren't the easiest way to view and compare
- Data cleaning is essential and the more upfront work you do, the easier time you'll have in later analyzing
- You may start with a question in mind, but as you work through the data more questions will arise and drive your analysis

### Data Insights
- If you're looking to sell your used vehicle, the top brands selling on eBay are: Volkswagon, Opel and BMW. 
- If you're looking to purchase a vehicle on eBay, expect cars to have at least 90,000km on them
- This information is equally as useful as sellers as it is buyers - it just depends on how you look at it

### Possible Next Steps
Areas to expand on:
- Correlation between this data from eBay and all used auto sales in Germany
- Breakdown by brand nationality
- Correlation between price and age of vehicle
- Correlation between price and mileage